.idea/
.vscode/
.zed/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp


bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

YT-DLP-Golang
gopherreactor
main

*.test
*.out
*.prof
coverage.txt


*.vtt
*.srt
*.mp3
*.mp4
*.m4a
*.webm
*.pcode

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.env
.env.local
.env.*.local
*.txt
